form {
    color: red;
    margin-left: 30%;
}

.titre{
    text-align: center;
    color: red;
}

input , button{
    display: block;
}

input{
    border: 0;
    border-bottom: 1px solid red;
    margin: 10px 0;
    font-size: 20px;
    padding: 0 20%;
}

label{
    font-size: 20px;
}

button{
    background-color: red;
    border: 0;
    color: white;
    width: 250px;
    margin: 20px 0;
    padding: 10px 0;
}